@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size:30px;
  font-family: 'Audiowide', cursive;
}

h2 {
  font-size:24px;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1, h2, a, a:visited {
  color: darkblue;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}
.voltar{
  font-size: 1.3px;

}
.btn:hover{
  color: white;
  background-color: darkblue;
  text-decoration: none;

}
#social{
  text-align: center;
  font-size: 2rem;

}
.twitter{
  color: dodgerblue;
}
.twitter:visited{
  color: dodgerblue;
}
i.material-icons {
  font-size: 1rem;
}
p, i.material-icons {
  line-height: 1.5rem;
}

@media print{
  h1{
    color: black;
    font-family: Times, serif;
 }
  h1#elon {
    text-align: left;
  }
 
 h2{
     background-color: unset;
 }
 h1 a,h2 a{
     color: white;
 }
 body{
     color: black;
     font-family: Times, serif;
}
a.topo{
  color: white;
}
.topo{
  color: white;
}
}