@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

/* Header */
header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .intro-text p, header .intro-text h1 {
  color: #ecece2;
  text-align: center;
}

header .intro-text h1 {
  margin: 0px;
  font-size: 3em;
  text-transform: uppercase;
  
}

header .intro-text p {
  font-size: 2em;
  font-style: italic;
}

header .intro-text .btn-intro {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 3px;
  font-size: 1.5em;
  padding: 20px 40px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  
}

header .intro-text .btn-intro a{
  align-items: center;
  margin: auto;
}

/* Main */
main {
  color: #333;
  text-align: center;
  display: flex;
  padding: 100px 15%;
  flex-flow: wrap;
  
}

main .service .circle-icon {
  background-color: #fed136;
  color: #fff;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  width: 5em;
  height: 5em;
  justify-content: center;
  
}

main .service{
  flex-basis: calc(100% / 3)
}

main .service-description{
  flex-basis: 100%;
  margin-bottom: 100px;
}

main .service-description  h1 {
  font-size: 3em;
  text-align: center;

}

main .service-description  p {
  color: #777;
  font-style: italic;
  text-align: center;
}

main .service p {
  color: #777;
  font-size: 14px;
  line-height: 1.75;
  text-align: center;
}

/* footer */
footer {
  
  background-color: #ecece2;
  justify-content: center;
}

footer section.social a {
  color: #555;
  margin: 15px;
  border: 3px solid #555;
  border-radius: 50%;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  width: 50px;
  height: 50px;
  display: flex;
}
footer section.copyright {
  color: #555;
  background-color: #c7c7af;
  padding: 15px;
  text-align: center;
}

footer section.copyright i.fa-heart {
  color: #f00;
}
footer section.social ul{
  list-style: none;
  margin: 0;
  align-items: center;
  display: flex;
  padding-left: 20px;
  justify-content: center;
}

footer .footer-content{
  text-align: center;
  display: flex;
  padding: 40px 15% 60px;
}

footer .footer-content > section {
  flex-basis: calc(100% / 3);
}

footer section.social a:hover {
  color: #fff;
  background-color: #555;
}

