body {
    font-family: Arial, sans-serif;
    background-color: lightyellow;
  }
  
  header {
    background-color: lightblue;
    text-align: center;
    padding: 1em;
  }
  
  nav {
    background-color: blue;
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 1em;
  }
  
  footer {
    background-color: lightblue;
    text-align: center;
    padding: 1em;
  }